@using MasterProject.ViewModels
@using MasterProject.Models
@using MasterProject.BLL
@using MasterProject.DAL

@model FoodViewModel
@{
    ViewBag.Title = "FoodByFoodType";
    if (Session["User"] != null)
    {
        LoginUser user = Session["User"] as LoginUser;
        if (user.IsWorker)
        {
            Layout = "~/Views/Share/ViewWorker.cshtml";
        }
        else
        {
            Layout = "~/Views/Share/View.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Share/View.cshtml";
    }
}
<link href="~/Content/Styles/Style-Food.css" rel="stylesheet" />
<div class="wrapper">

    <div class="foodWrapper">
        @foreach (Food food in Model.Food)
        {
            <a class="link" href="~/SpecificFood/SpecificFood?foodID=@food.id">
                <div class="foodBlock">
                    <div>
                        <h1 class="foodName">@food.FoodName</h1>
                        <img class="foodPicture" src="~/Content/Images/Food/@food.FoodPicture" />
                        <h3 class="foodPrice">@food.FoodPrice ₪ לקילו </h3>
                    </div>
                </div>
            </a>
        }
    </div>
    
    <div class="typesBlock">
        <a href="~/Food/Food">
            <h1 class="typesTitle">כל הסוגים:</h1>
        </a>
        @foreach (FoodType foodType in Model.FoodTypes)
        {
            <div class="foodTypes">
                <a href="~/FoodByFoodType/FoodByFoodType?typeID=@foodType.id">
                    <p class="types">@foodType.FoodTypeName</p>
                </a>
            </div>
        }
    </div>
</div>