@using MasterProject.Models;
@model List<Food>



@foreach (Food food in Model)
{
    <span class="specificFood" data-specificFoodID="@food.id" id="specificFood">
        <div class="foodBlock">
            <h1 class="foodName">@food.FoodName</h1>
            <img class="foodPicture" src="~/Content/Images/Food/@food.FoodPicture" />
            <h3 class="foodPrice">@food.FoodPrice ₪ לקילו </h3>
        </div>
    </span>
}