body {
    background-image: url('/Content/Images/background.jpg');
    margin: 0px;
}
body::-webkit-scrollbar {
    display: none;
}

/*wrapper*/
.wrapper {
    display: flex;
    justify-content: center;
}
/*wrapper*/


/*form*/
.personal-input input[type=text], input[type=tel], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Suez One', serif;
    font-size:0.8em;
}
div.personal-input {
    direction: rtl;
    margin-top: 132px;
    border-radius: 5px;
    background-color: rgb(120, 120, 120);
    padding: 20px;
    font-family: 'Suez One', serif;
    font-size:1.4em;
    width: 1000px;
}
textarea {
    height: 150px;
}
input[type=submit] {
    font-family: 'Suez One', serif;
}
small {
    font-size: 15px;
}
.noneUser, .noneUserBtn {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.noneUserBtn {
    cursor: pointer;
    font-size: 24px;
    text-decoration: underline;
}
.noneUserBtn:hover{
    color:white;
    background: rgba(20, 20, 20,0.8);
}
.span {
    position: absolute;
    color: white;
    background-color: red;
    border: solid 1px white;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    visibility: hidden;
}
.noneUserWrapper {
    margin-right: 305px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    border: solid 3px black;
    width: fit-content;
    background: rgba(80,80,80,0.6);
}
.noneUserWrapper:hover{
    border: solid 3px white;
}
.eventBtn {
    color: white;
    background: rgba(80,80,80,0.6);
    font-family: 'Suez One', serif;
    font-size: 1.2em;
    width: 200px;
    border-radius: 5px;
    border: solid 1px white;
}
.eventBtn:hover{
    cursor: pointer;
    background: rgba(20, 20, 20,0.8);
    border: solid 1px yellow;
}
.date{
    padding:0;
    width:70px;
}
/*form*/