body {
    background-image: url('/Content/Images/background.jpg');
    margin: 0px;
}
body::-webkit-scrollbar {
  display: none;
}

/*wrapper*/
.wrapper{
    display:flex;
    justify-content:center;
}
/*wrapper*/


/*form*/
.personal-input input[type=text], input[type=email], input[type=tel], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Suez One', serif;
    font-size:0.8em;
}
div.personal-input {
    margin-top: 132px;
    direction: rtl;
    border-radius: 5px;
    background-color: rgb(120, 120, 120);
    padding: 20px;
    font-family: 'Suez One', serif;
    font-size: 1.4em;
    width: 1000px;
}
small{
    font-size:15px;
}
.span{
    position:absolute;
    color:white;
    background-color:red;
    border:solid 1px white;
    padding-right:10px;
    padding-left:10px;
    margin-right:10px;
    visibility:hidden;
}
.signInButton {
    color: white;
    background: rgba(80,80,80,0.6);
    font-family: 'Suez One', serif;
    font-size: 1.2em;
    width: 200px;
    border-radius: 5px;
    border: solid 1px white;
}
.signInButton:hover{
    cursor: pointer;
    background: rgba(20, 20, 20,0.8);
    border: solid 1px yellow;
}
/*form*/

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid white;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
}
i.fa.fa-cloud-upload{
    padding:0;
    padding-left:8px;
}