@using MasterProject.FoodSupplier
@model MasterProject.FoodSupplier.Food[]
@{
    ViewBag.Title = "FoodSupplyForm";
    Layout = "~/Views/Share/ViewWorker.cshtml";
}
<link href="~/Content/Styles/Style-Food.css" rel="stylesheet" />
<script src="~/Content/Scripts/Food-Script.js"></script>
<div class="wrapper">
    <div class="foodWrapper">
        <form method="post" action="~/FoodSupply/AddNewOrder">
            @foreach (Food food in Model)
            {
                <div class="foodBlock">
                    <label class="container">
                        <input type="checkbox" id="foodID" name="FoodID" value="@food.id">
                        <span class="checkmark"></span>
                        <h1 class="foodName">@food.FoodName</h1>
                        <img class="foodPicture" src="~/Content/Images/Food/@food.FoodPicture" />
                        <h3 class="foodPrice">@food.FoodPrice ₪ לקילו </h3>
                    </label>
                </div>
            }
            <br>
            <span class="span" id="emptyCheckbox">נא לבחור אוכל להזמנה</span>
            <br>
            <input type="button" onclick="OrderSupply()" class="button-order" value="שליחת הזמנה">
        </form>
    </div>
    
    <div class="typesBlock-supplier">
        <a href="~/FoodSupply/FoodSupplyForm">
            <h1 class="types">הזמנה מהספק</h1>
        </a>
        <a href="~/FoodSupply/MySupplyOrders">
            <h1 class="types">ההזמנות שלי</h1>
        </a>
    </div>
</div>