@using MasterProject.Models;
@model Food


<div class="foodWrapper">
    <span class="specificFood">
        <div class="foodBlock">
            <h1 class="foodName">@Model.FoodName</h1>
            <img class="foodPicture" src="~/Content/Images/Food/@Model.FoodPicture" />
            <h2 class="foodDescription">@Model.FoodDescription</h2>
            <h3 class="foodPrice">@Model.FoodPrice ₪ לקילו </h3>
        </div>
    </span>
</div>

